<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Student_DBServlet</servlet-name>
		<servlet-class>sprs.Student_DBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Student_DBServlet</servlet-name>
		<url-pattern>/Student_DBServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Fourth_sem</servlet-name>
		<servlet-class>sprs.Fourth_sem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fourth_sem</servlet-name>
		<url-pattern>/Fourth_sem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Fiveth_sem</servlet-name>
		<servlet-class>sprs.Fiveth_sem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fiveth_sem</servlet-name>
		<url-pattern>/Fiveth_sem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Sixth_sem</servlet-name>
		<servlet-class>sprs.Sixth_sem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sixth_sem</servlet-name>
		<url-pattern>/Sixth_sem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Seventh_sem</servlet-name>
		<servlet-class>sprs.Seventh_sem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Seventh_sem</servlet-name>
		<url-pattern>/Seventh_sem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Eightth_sem</servlet-name>
		<servlet-class>sprs.Eightth_sem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eightth_sem</servlet-name>
		<url-pattern>/Eightth_sem</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Home.html</welcome-file>
	</welcome-file-list>
</web-app>